.msgDisp{
    margin-top: 2.7%;
    margin-bottom: 2.7%;
    margin-left: 2.7%;
    margin-right: 2.7%;
    background: #67AFCB;
    border: 5px solid #092834;
    border-radius: 5px;
}

.header{
    font-weight: bold;
}
